<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.net>
		<defaultProxy>
			<proxy  proxyaddress="http://winproxy.server.lan:3128"
					bypassonlocal="True"
        />
		</defaultProxy>
	</system.net>
	<location path="." inheritInChildApplications="true">
		<system.webServer>
			<modules runAllManagedModulesForAllRequests="false">
				<remove name="WebDAVModule"/>
			</modules>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Musikschule.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 22bfa7ad-6cfb-4a8f-8a1a-fd4cfd3b2407-->