<div class="contaimer-fluid">
    <a [routerLink]="['add-musikschule']" class="btn btn-primary">Neue Musikschule anlegen</a>
</div>
<div class="container-fluid">
    <table class="table full-width">
        <tr>
            <th width="33%">Name</th>
            <th width="33%">Adresse</th>
            <th width="33%"></th>
        </tr>
        <tr *ngFor="let musikschule of musikschulen">
            <td>{{musikschule.name}}</td>
            <td>{{musikschule.adresse}}</td>
            <td>
                <button class="btn btn-primary" (click)="edit(musikschule.id)">Bearbeiten</button>
                &nbsp;
                <button class="btn btn-danger" (click)="delete(musikschule.id)">Löschen</button>
            </td>
        </tr>
    </table>
</div>